<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>474034969003-5npt4se7haccbi5rjgebe3nrm60u0m08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474034969003-5npt4se7haccbi5rjgebe3nrm60u0m08</string>
	<key>API_KEY</key>
	<string>AIzaSyCF_7yiQUZIvLOGfGjLoPlW01kziX9ssb0</string>
	<key>GCM_SENDER_ID</key>
	<string>474034969003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.desfici.FactCheck</string>
	<key>PROJECT_ID</key>
	<string>factchecker-584ca</string>
	<key>STORAGE_BUCKET</key>
	<string>factchecker-584ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:474034969003:ios:747e03cf6d065f15</string>
	<key>DATABASE_URL</key>
	<string>https://factchecker-584ca.firebaseio.com</string>
</dict>
</plist>